MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/ourax
JWT_SECRET=ourax_super_secret_key_change_this
PORT=5000
RAZORPAY_KEY_ID=your_razorpay_key
RAZORPAY_SECRET=your_razorpay_secret
